<<<<<<< HEAD
eader{
=======
header{
>>>>>>> 8c3ba4292977b8f180326ee703c87d63c7033775
    color: indianred;
}
p{
    color:chartreuse
<<<<<<< HEAD
=======
}
li{
    font-family: Arial;
>>>>>>> 8c3ba4292977b8f180326ee703c87d63c7033775
}